@model IList<WebApplication1.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Музикални изпълнения</h2>
@if (Model.Any())
{
    <table>
        <tr>
            <th>
                Заглавие                                    
            </th>
            <th>
                Изпълнител                                  
            </th>
            <th>
                Албум                                   
            </th>
            <th>

            </th>
        </tr>

        @foreach (var song in Model)
        {
            <tr>
                <td>
                    @song.title
                </td>
                <td>
                    @song.artist.stage_name
                </td>
                <td>
                    @song.album.name
                </td>
                <td>
                    @song.songID
                    @Html.ActionLink("Details", "Details", "Song", new { id = @song.songID }, null)
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3>В момента няма музикални изпълнения</h3>
}
